body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    font-family: "century gothic";
    background-image: url("../img/gif.gif");
    background-size: cover;
}
/*-------------------------------*/
/*HEADER*/
header {
    text-align: center;
    height: 15vh;
    width: 100%;
    background-color: #2a1033;
    margin: 0;
    padding: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    color: white;
    font-size: 40px;
}
.logoName {
    margin: 0;
    width: 50vw;
    float: left; /*Задаем обтекание*/

}

.headerItems {
    float: left;
    width: 100%;
}
.headerButton {
    width: 23vw;
    float: left; /*Задаем обтекание*/

}
/*-------------------------------*/
/*MAIN*/
/*-------------------------------*/
article {
    height: 100vh;
    width: 65vw;
    margin-right: 17vw;
    position: relative;
    float: right;
    background-color: #93c7dc;
}
h1 {
    margin: 0;
}
.itemName {
    margin: 0;
}

.boxes {
    height: 85vh;
    /*font-size: 14px;*/
    /*color: white;*/
    /*margin-top: 0px;*/
    width: 65vw; /*Фиксируем ширину блока*/
    /*margin-right: 0;*/
    margin: 0;
}
.catalog {
    height: 85vh;
    margin: 0;
}

.basket {
    height: 85vh;
    width: 48vw;
}

.addItem {
    width: 30vw;
    margin-left: 25vw;
}
/*-------------------------------*/
/*FOOTER*/
/*-------------------------------*/
footer {
    height: 10vh;
    width: 100%;
}

.number {
    margin: 0;
}
/*-------------------------------*/